@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --body-background: #f5f5f5;

  --panel-background: #fff;
  --panel-border-color: #e8e8e8;

  --text-color: #1d1d1d;

  --control-background: #fff;
  --control-border-color: #d0d0d0;
  --control-color: var(--text-color);
  --control-border-color_hover: #a1a1a1;

  --button-background: #e4e4e4;

  --action-button-background: #1dc690;
  --action-button-color: #fff;
  --action-button-background_hover: #28ac82;

  --countdown-background: rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  color: var(--text-color);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: var(--body-background);
}

.theme {
  &_light {

  }

  &_dark {
    --body-background: #1d1d1d;

    --panel-background: #1a1a1b;
    --panel-border-color: #343536;

    --text-color: #f5f5f5;

    --control-background: #272729;
    --control-border-color: #494b4c;
    --control-color: var(--text-color);
    --control-border-color_hover: #828687;

    --button-background: #6d6d6d;

    --action-button-background: #341948;
    --action-button-color: #f5f5f5;
    --action-button-background_hover: #45275c;

    --countdown-background: rgba(0, 0, 0, 0.3);
  }
}
